.game-square{
    min-width: 600px;
    height:500px;
    background-color: rgb(193, 193, 193);
    margin:auto;
    padding:15px;
    border-radius:15px;
    display:inline-grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
}

.board-selected{
    background-color: rgb(45, 45, 45);
}