.flipped-card{
    width:130px;
    height:200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    justify-content: center;
    border-radius:5px 5px 15px 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.277);
    cursor: pointer;
    transition: all .2s ease-in-out;
    perspective: 1000px;
}

.card-mimic{
    color:black;
    text-align: center;
    font-size:100px;
}

.flipped-card:hover{
    transform: scale(1.025);
}

.flipped-animation{
    transform: rotateY(180deg);
}

.card-blocked{
    background-color: rgb(58, 58, 58);
}